[v-cloak] {
  display: none;
}
.call {
  width: 100%;
  height: 100%;
  background-color: black;
}
.call header {
  height: 50px;
  width: 100%;
}
.call main {
  height: calc(100% - 150px);
  width: 100%;
}
.call main .Client-Area {
  height: 18%;
  position: absolute;
  top: 32px;
  right: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.call main .Client-Area > #CLIENT-AREA {
  height: 100%;
}
.call main .Client-Area > #CLIENT-AREA ::v-deep video {
  height: 100%;
}
.call main .Agent-Area {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0px;
  left: 0px;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.call main .Agent-Area > #AGENT-AREA {
  width: 100%;
}
.call main .Agent-Area > #AGENT-AREA ::v-deep video {
  width: 100%;
}
.call main .share-box {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0px;
  left: 0px;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.call main .share-box > #SHARE {
  width: 100%;
}
.call main .share-box > #SHARE ::v-deep video {
  width: 100%;
}
.call main .manySides {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.call main .manySides ::v-deep div > video {
  width: 100%;
}
.call footer {
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0px;
  z-index: 1000;
}
.fourSides {
  width: 50%;
  height: 50%;
  display: flex;
}
.sixSides {
  width: 33.3%;
  height: 50%;
  display: flex;
}
.nineSide {
  width: 33.3%;
  height: 33.3%;
  display: flex;
}
